USE [master]
GO
/****** Object:  Database [ExclusiBus]    Script Date: 03/07/2017 18:49:57 ******/
CREATE DATABASE [ExclusiBus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExclusiBus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExclusiBus.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExclusiBus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExclusiBus_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExclusiBus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExclusiBus]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 03/07/2017 18:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Buses](
	[NroBus] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](7) NULL,
	[Precio] [float] NULL,
	[HoraSalida] [time](7) NULL,
	[IdRuta] [int] NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[NroBus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paraderos]    Script Date: 03/07/2017 18:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paraderos](
	[Paradero] [varchar](550) NULL,
	[Foto] [varchar](1000) NULL,
	[IdRuta] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 03/07/2017 18:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rutas](
	[IdRuta] [int] IDENTITY(1,1) NOT NULL,
	[Rutas] [varchar](50) NULL,
	[NroBus] [int] NULL,
 CONSTRAINT [PK_Ruta] PRIMARY KEY CLUSTERED 
(
	[IdRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([NroBus], [Placa], [Precio], [HoraSalida], [IdRuta]) VALUES (1, N'ABC-345', 5, CAST(N'10:00:00' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[Buses] OFF
INSERT [dbo].[Paraderos] ([Paradero], [Foto], [IdRuta]) VALUES (N'la chira', N'http://cdn.plataformaurbana.cl/wp-content/uploads/2014/07/1406672591_tus_ideas_en_tu_paradero_ciudad_color_3-528x396.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Rutas] ON 

INSERT [dbo].[Rutas] ([IdRuta], [Rutas], [NroBus]) VALUES (1, N'Ate-Lince', NULL)
SET IDENTITY_INSERT [dbo].[Rutas] OFF
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FK_Buses_Ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[Rutas] ([IdRuta])
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FK_Buses_Ruta]
GO
ALTER TABLE [dbo].[Paraderos]  WITH CHECK ADD  CONSTRAINT [FK_Paraderos_Ruta] FOREIGN KEY([IdRuta])
REFERENCES [dbo].[Rutas] ([IdRuta])
GO
ALTER TABLE [dbo].[Paraderos] CHECK CONSTRAINT [FK_Paraderos_Ruta]
GO
ALTER TABLE [dbo].[Rutas]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Buses] FOREIGN KEY([NroBus])
REFERENCES [dbo].[Buses] ([NroBus])
GO
ALTER TABLE [dbo].[Rutas] CHECK CONSTRAINT [FK_Ruta_Buses]
GO
USE [master]
GO
