USE [master]
GO
/****** Object:  Database [ExclusiBus]    Script Date: 03/07/2017 17:58:48 ******/
CREATE DATABASE [ExclusiBus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExclusiBus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExclusiBus.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExclusiBus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ExclusiBus_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExclusiBus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExclusiBus]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 03/07/2017 17:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Buses](
	[NroBus] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](7) NULL,
	[Ruta] [varchar](50) NULL,
	[Precio] [float] NULL,
	[HoraSalida] [time](7) NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[NroBus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 03/07/2017 17:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rutas](
	[Ruta] [varchar](50) NULL,
	[Paradero] [varchar](550) NULL,
	[Foto] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
